*{
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
	overflow-x: hidden;
	scroll-behavior: smooth;
	cursor: default;
}
body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #94f4ff4a;
  }
  
  .nav_bar{
	background-color: #1FBABF;
	width: 100%;
	height: 70px;
	position: fixed;
	display: none;
	z-index: 100;
	transition: 0.3 ease-in-out;
  }
  .logo{
	padding-left: 5px;
	height: 65px;
  }
  .title{
	padding-left: 10px;
	padding-top: 8%;
	color: white;
	font-size: 30px;
	letter-spacing: 2px;
  }
  .parallax{
	background-image: url("./assets/background1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	vertical-align: middle;
	justify-content: center;
	position: relative;
	display: flex;
	overflow-y: hidden;
  }
  #layer1{
	color: rgb(189, 241, 255);
	font-size: 150px;
	margin-top: 25vh;
	position: absolute;
	text-shadow: 3px 4px 1px rgb(0, 0, 0);
  }
  #bg-layer{
	width: 100vw;
	height: 100vh;
	background-color: #94f4ff4a;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
  }

  #layer2, #layer3,#layer4,p{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	width: 100vw;
	margin-top: 66vh;
  }
  p{
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 54vh;
	text-shadow: 2px 3px 1px rgb(0, 0, 0);
	font-family: cursive;
  }
  #layer2{
	margin-top: 56vh;
  }
  #layer4{
	width: 100px;
	height: 100px;
  }
  .table-section{
	position: relative;
  }
  #total-students{
       margin: 20px;
}
h4{
	margin: 50px;
	font-size: 25px;
	line-height: 2em;
	letter-spacing: 2px;
}
  form {
	display: flex;
	flex-direction: column;
	margin: 20px;
  }
  
  form label {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 20px;
  }
  
  form input,
  form select {
	height: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	outline-color: #2A3950;
	background-color: #60d3abb0;
  }
  
  form button {
	padding: 10px;
	background-color: #1FBABF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  table {
	margin: 10px;
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
		text-align: center;
  }
  
  th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;	  
	font-size: 20px;
  }
  
  th {
	background-color: #1FBABF;
	color: white;
  }
  
  tr:hover {
	background-color: #f5f5f5;
  }
  
  button{
	width: 100%;
	height: 50px;
	color: white;
	background-color: #1FBABF;
	outline-style: none;
	border: none;
		margin-top: 16px;
		padding: 8px;
		font-size: 20px;
		cursor: pointer;
  }
  #gen-halls-button{
	width: 80%;
	border-radius: 5px;
	margin: 20px 0;
  }
  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  #halls{
	text-align: center;
	color: white;
	background-color: #60D3AA;
	padding: 10px 0;
  }
#halltitle{
	margin: 10px 0;
}
  #halltext{
	line-height: 2em;
  }

  /*footer*/
  footer{
	text-align: center;
	text-decoration: none;
  }
.bottom {
	background-color: #1FBABF;
	width: 100%;
	vertical-align: middle;
	margin: 0;
	margin-top: 10px;
	padding: 5px;
	bottom: 0;
	list-style: none;
	text-align: center;
  }
  .bottom ul li a {
	color: white;
	text-align: center;
	padding-right: 20px;
	cursor: pointer;
  }
